:root {
    --color-one: #f9f8ed;
    --color-two: #c4e3cb;
    --color-three: #6a9c78;
    --color-four: #fff1bc;
    --color-five: #ffb7b7;
    --color-caret: red;
    --color-text: #35495e;
    --color-light-text: #526488;
    --color-background: #ebf190;
}
