:root {
    --color-one: #faffb8;
    --color-two: #c5f0a4;
    --color-three: #35b0ab;
    --color-four: #226b80;
    --color-five: #ffb7b7;
    --color-caret: red;
    --color-text: #35495e;
    --color-light-text: #526488;
    --color-background: #ebf190;
}
